<?xml version="1.0"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find custom_control)/config/control.yaml" command="load"/>

  <!-- load the controllers -->
 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
   output="screen" ns="/robot_project" args="arm1_position_controller arm2_position_controller arm2bis_position_controller arm3_position_controller end_effector_effort_controller joint_state_controller"/>


  <node  pkg="custom_control" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

</launch>
